body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}
nav {
  background: #4d555a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.hamburger-menu {
  font-size: 24px;
  cursor: pointer;
  display: none;
}
.list {
  display: flex;
  gap: 10px;
}
.map-buttons {
  position: absolute;
  top: 90px;  /* Tambah jarak dari atas */
  right: 10px; /* Tambah jarak dari kanan */
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgba(255, 255, 255, 0.8); /* Background transparan agar lebih rapi */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.map-buttons button {
  width: 150px; /* Ukuran tombol seragam */
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.list button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  color: white;
}
#set-source {
  background-color: #007bff;
}

#unset-source {
  background-color: #ff4d4d;
}


.map-buttons button:hover {
  opacity: 0.9;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}
button:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}
#map-container {
  width: 100vw;
  height: 80vh;
  margin: 0 auto;
  display: block;
}
#map {
  width: 100%;
  height: 100%;
  border: 2px solid #ccc;
}
.popup {
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  min-width: 320px;
}
.popup h3 {
  color: #28a745;
  font-size: 1.1em;
}
.popup p {
  margin: 5px 0;
  font-size: 0.7em;
}

footer {
  background: #4d555a;
  color: white;
  margin: auto;
  padding: 15px;
}

footer p {
  background: #1f2937;
  color: white;
  margin: auto;
  padding: 15px;
}
.list.active {
  display: flex;
}
@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }
  .list {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 60px;
    background: #1f2937;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
  }
}
